.container
  .row.mt-5
    .col-lg-6
      %h4 Country Info
      %dl
        %dt Country
        %dd= @country['name']
        %dt Capital
        %dd= @country['capital']
        %dt Currency
        %dd= @country['currencies'].join(', ')
        %dt Timezone
        %dd= @country['timezones'].join(', ')

    .col-lg-6
      %h4 Weather Info
      %dl
        - @weather['list'].each do |weather|
          %dt= weather['dt_txt']
          %dd
            %strong Min
            = to_fahrenheit weather['main']['temp_min']
            %strong Max
            = to_fahrenheit weather['main']['temp_max']